#container{
    position: absolute;
    width: 500px;
    height: 400px;
    left: 200px;
    top: 100px; 
    background-color: lightskyblue;  
    border: 1px solid black;

    overflow: hidden; 
    z-index: 1; 

}

#grass{
    position: absolute;
    width: 500px;
    height: 5px;
    top: 375px;
    left: 0px;
    background-color: greenyellow;

    z-index: 2;

}


#ground{
    position: absolute;
    width: 500px;
    height: 20px;
    top: 380px;
    left: 0px;
    background-color: burlywood;

    z-index: 2;

}

#pipe{
    position: absolute;
    width: 50px;
    height: 400px;
    top: 0px;
    left: 450px;
    background-color: green;
    background-image: linear-gradient(to right, green , rgba(24, 218, 24, 0.557));
    z-index: 3;

    animation-name: move_pipe;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#hole{
    position: absolute;
    width: 60px;
    height: 150px;
    top: 125px;
    left: 450px;
    background-color: lightskyblue;
    z-index: 3;

    animation-name: move_pipe;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move_pipe {
    0%   {left:450px;}
    100%  {left:-50px;}
}

#bird{
    position: relative;
    width: 50px;
    left: 50px;
    top: 100px; 
    z-index: 4

}

.text {
    overflow: hidden;
    position: absolute;
    z-index: 4;
    top:20px;
    left:20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

  }
  

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}