#container{
    position: absolute;
    width: 550px;
    height: 400px;
    left: 200px;
    top: 100px; 
    background-color: lightskyblue;  
    border: 1px solid black;
    overflow: hidden; 
    z-index: 1; 

}

#grass{
    position: absolute;
    width: 100%;
    height: 5px;
    top: 375px;
    left: 0px;
    background-color: greenyellow;

    z-index: 2;

}


#ground{
    position: absolute;
    width: 100%;
    height: 20px;
    top: 380px;
    left: 0px;
    background-color: burlywood;

    z-index: 2;

}

.pipe{
    background-color: green;
    background-image: linear-gradient(to right, green , rgba(24, 218, 24, 0.557));
    z-index: 3;

    animation-name: move_pipe;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.pipe.top{
    position: absolute;
    width: 50px;
    height: 125px;
    top: 0px;
    left: 500px;
}

.pipe.bottom{
    position: absolute;
    width: 50px;
    height: 275px;
    top: 275px;
    left: 500px;
}

.pipe.bottom::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 60px;
    height: 20px;
    background-color: green;
    background-image: linear-gradient(to right, green , rgba(24, 218, 24, 0.557));
    transform: translate(-50%, 100%);  

}

.pipe.top::before {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 50%;
    width: 60px;
    height: 20px;
    background-color: green;
    background-image: linear-gradient(to right, green , rgba(24, 218, 24, 0.557));
    transform: translateX(-50%);
}



@keyframes move_pipe {
    0%   {left:450px;}
    100%  {left:-50px;}
}

#bird{
    position: relative;
    width: 50px;
    left: 50px;
    top: 100px; 
    z-index: 5

}

.text {
    overflow: hidden;
    position: absolute;
    z-index: 4;
    top:20px;
    left:20px;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;

  }
  

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.cloud.one{
    transform: scale(1,1);
    left: 200px;
    top: 50px;
}


.cloud.two{
    transform: scale(0.5,0.5);
    left: 300px;
    top: 150px;
}


.cloud {
    width: 100px;
    height: 50px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: inset 0px -10px 10px -10px  #888888;
    position: absolute;
    z-index: 2;
  }

  .cloud:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    background-color: #fff; 
    border-radius: 50%;
    top: -10px;
    left: 15px;
  }

  .cloud:after {
    position: absolute;
    content: "";
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 50%;
    top: -20px;
    left: 40px;
  }

 